venv/
.env/
.venv/

__pycache__/
*.py[cod]
*$py.class

*.log
*.tmp
*.swp
*.bak

.vscode/
.idea/

.DS_Store
Thumbs.db

htmlcov/
.tox/
.coverage
.cache/
.pytest_cache/

build/
dist/
*.egg-info/

.ipynb_checkpoints/

